In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv('C:/Users/ptram/Desktop/Final Data.csv')

In [10]:
data.size

4063114

In [11]:
data.head()

,Termid,Regd No,Course,Grade,CA_100,MTT_50,ETT_100,ETP_100,Course_Att,MHRDName,...,CA_3,CA_4,Height,Weight,ScholarType,Direction,Gender,Medium,CourseType,ProgramType
0,318192,1101776,KVY1,O,87.0,39.0,82.0,89.0,88.0,Bachelor of Science (Honours) (Agriculture),...,1.0,0.0,181,65,Hostler,North,Female,Hindi,Theory,UG
1,318192,1101776,KVY147,A+,87.0,47.0,65.0,85.0,82.0,Bachelor of Science (Honours) (Agriculture),...,0.0,1.0,181,65,Hostler,North,Female,Hindi,Theory,UG
2,318192,1101776,KVY148,B+,84.0,29.0,63.0,77.0,76.0,Bachelor of Science (Honours) (Agriculture),...,3.0,5.0,181,65,Hostler,North,Female,Hindi,Theory,UG
3,318192,1101776,KVY2,A+,NaN,NaN,NaN,82.0,74.0,Bachelor of Science (Honours) (Agriculture),...,NaN,NaN,181,65,Hostler,North,Female,Hindi,Practical,UG
4,318192,1101776,KVY3,A+,87.0,34.0,68.0,89.0,76.0,Bachelor of Science (Honours) (Agriculture),...,2.0,17.0,181,65,Hostler,North,Female,Hindi,Theory,UG

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184687 entries, 0 to 184686
Data columns (total 22 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Termid       184687 non-null  int64
 1   Regd No      184687 non-null  int64
 2   Course       184687 non-null  object
 3   Grade        184687 non-null  object
 4   CA_100       180737 non-null  float64
 5   MTT_50       118211 non-null  float64
 6   ETT_100      120807 non-null  float64
 7   ETP_100      74160 non-null   float64
 8   Course_Att   174560 non-null  float64
 9   MHRDName     184687 non-null  object
 10  CA_1         180737 non-null  float64
 11  CA_2         180737 non-null  float64
 12  CA_3         180737 non-null  float64
 13  CA_4         180737 non-null  float64
 14  Height       184687 non-null  int64
 15  Weight       184687 non-null  int64
 16  ScholarType  184687 non-null  object
 17  Direction    184687 non-null  object
 18  Gender       184687 non-null  object
 19  Medium       184687 non-null  object
 20  CourseType   184687 non-null  object
 21  ProgramType  184687 non-null  object
dtypes: float64(9), int64(4), object(9)
memory usage: 31.0+ MB

In [16]:
mask=data['MHRDName']=="CSE"
data[mask]

Empty DataFrame
Columns: [Termid, Regd No, Course, Grade, CA_100, MTT_50, ETT_100, ETP_100, Course_Att, MHRDName, CA_1, CA_2, CA_3, CA_4, Height, Weight, ScholarType, Direction, Gender, Medium, CourseType, ProgramType]
Index: []

[0 rows x 22 columns]

In [17]:
data[mask].shape

(0, 22)

In [ ]:
data.counts

In [ ]:
data.counts('CSE','ME')