Data Cleaning and Normalization

In [4]:
import pandas as pd
df = pd.read_csv("C:/Users/hp/Downloads/My_Work/sample_data.csv")
print(df)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0      NaN  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David   NaN  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

C:\Users\hp\AppData\Local\Temp\ipykernel_6848\3103460432.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
#Chek missing values
print(df.isnull().sum())

Name          0
Age           1
Salary        1
Department    0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Age         7 non-null      float64
 2   Salary      7 non-null      float64
 3   Department  8 non-null      object
dtypes: float64(2), object(2)
memory usage: 388.0+ bytes

In [7]:
#remove rows with any missing values
df_cleaned = df.dropna()
print(df_cleaned)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
2  Charlie  35.0  70000.0  Engineering
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

In [8]:
# Fill missing values with a specific values
df_filled = df.fillna({
    'Age': df['Age'].mean(),
    'Salary': df['Salary'].mean()
})
print(df_filled)

      Name        Age   Salary   Department
0    Alice  25.000000  50000.0           HR
1      Bob  30.000000  70000.0  Engineering
2  Charlie  35.000000  70000.0  Engineering
3    David  38.285714  60000.0           HR
4      Eve  28.000000  80000.0           HR
5    Frank  40.000000  55000.0        Sales
6    Grace  50.000000  85000.0        Sales
7     Hank  60.000000  90000.0        Sales

In [9]:
#Fill by the forward value
df_fill = df.fillna(method='ffill')
print(df_fill)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0  50000.0  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David  35.0  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

C:\Users\hp\AppData\Local\Temp\ipykernel_6848\3222957948.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fill = df.fillna(method='ffill')

In [10]:
# Fill by backward value
df_bfill = df.fillna(method='bfill')
print(df_bfill)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0  70000.0  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David  28.0  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

C:\Users\hp\AppData\Local\Temp\ipykernel_6848\302704198.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df.fillna(method='bfill')

Remove Duplicates

In [11]:
#Add duplicate rows for demonstration
df = pd.concat([df,df.iloc[[0]],df.iloc[[1]]], ignore_index=True)
print('Before removing Duplicates: \n',df)

Before removing Duplicates:
       Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0      NaN  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David   NaN  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales
8    Alice  25.0  50000.0           HR
9      Bob  30.0      NaN  Engineering

In [12]:
#remove Duplicates
df_na_duplicates = df.drop_duplicates()
print('After remove duplicates: \n',df_na_duplicates)

After remove duplicates:
       Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0      NaN  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David   NaN  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

Replace incorrect values

In [13]:
df_corrected=df.replace({'Department':{'HR':'Human Resources','Sales':'Sales Department'}})
print(df_corrected)

      Name   Age   Salary        Department
0    Alice  25.0  50000.0   Human Resources
1      Bob  30.0      NaN       Engineering
2  Charlie  35.0  70000.0       Engineering
3    David   NaN  60000.0   Human Resources
4      Eve  28.0  80000.0   Human Resources
5    Frank  40.0  55000.0  Sales Department
6    Grace  50.0  85000.0  Sales Department
7     Hank  60.0  90000.0  Sales Department
8    Alice  25.0  50000.0   Human Resources
9      Bob  30.0      NaN       Engineering

Ensuring Consistency

In [14]:
#Convert all department names into lower for consistency
df['Department']=df['Department'].str.lower()
print(df)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           hr
1      Bob  30.0      NaN  engineering
2  Charlie  35.0  70000.0  engineering
3    David   NaN  60000.0           hr
4      Eve  28.0  80000.0           hr
5    Frank  40.0  55000.0        sales
6    Grace  50.0  85000.0        sales
7     Hank  60.0  90000.0        sales
8    Alice  25.0  50000.0           hr
9      Bob  30.0      NaN  engineering

Min-Max Normalization

In [16]:
#apply min-max normalization using formula
df_normalized = df.copy()
for col in['Age','Salary']:
    df_normalized[col]=(df[col]-df[col].min())/(df[col].max()-df[col].min())
    print('Original DataFrame: ')
    print(df)
    print('\nNormalized Dataframe: ')
    print(df_normalized)

Original DataFrame:
      Name   Age   Salary   Department
0    Alice  25.0  50000.0           hr
1      Bob  30.0      NaN  engineering
2  Charlie  35.0  70000.0  engineering
3    David   NaN  60000.0           hr
4      Eve  28.0  80000.0           hr
5    Frank  40.0  55000.0        sales
6    Grace  50.0  85000.0        sales
7     Hank  60.0  90000.0        sales
8    Alice  25.0  50000.0           hr
9      Bob  30.0      NaN  engineering

Normalized Dataframe:
      Name       Age   Salary   Department
0    Alice  0.000000  50000.0           hr
1      Bob  0.142857      NaN  engineering
2  Charlie  0.285714  70000.0  engineering
3    David       NaN  60000.0           hr
4      Eve  0.085714  80000.0           hr
5    Frank  0.428571  55000.0        sales
6    Grace  0.714286  85000.0        sales
7     Hank  1.000000  90000.0        sales
8    Alice  0.000000  50000.0           hr
9      Bob  0.142857      NaN  engineering
Original DataFrame:
      Name   Age   Salary   Department
0    Alice  25.0  50000.0           hr
1      Bob  30.0      NaN  engineering
2  Charlie  35.0  70000.0  engineering
3    David   NaN  60000.0           hr
4      Eve  28.0  80000.0           hr
5    Frank  40.0  55000.0        sales
6    Grace  50.0  85000.0        sales
7     Hank  60.0  90000.0        sales
8    Alice  25.0  50000.0           hr
9      Bob  30.0      NaN  engineering

Normalized Dataframe:
      Name       Age  Salary   Department
0    Alice  0.000000   0.000           hr
1      Bob  0.142857     NaN  engineering
2  Charlie  0.285714   0.500  engineering
3    David       NaN   0.250           hr
4      Eve  0.085714   0.750           hr
5    Frank  0.428571   0.125        sales
6    Grace  0.714286   0.875        sales
7     Hank  1.000000   1.000        sales
8    Alice  0.000000   0.000           hr
9      Bob  0.142857     NaN  engineering